[submodule "ImageResizer/dependencies/OpenCV"]
	path = ImageResizer/dependencies/OpenCV
	url = https://github.com/opencv/opencv.git
[submodule "ImageResizer/dependencies/ThreadPool"]
	path = ImageResizer/dependencies/ThreadPool
	url = https://github.com/Fdhvdu/ThreadPool.git
[submodule "ImageResizer/dependencies/lib"]
	path = ImageResizer/dependencies/lib
	url = https://github.com/Fdhvdu/lib.git
